:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  
  
  
  
  body {
    margin: 0;
    /* display: flex;
    place-items: center; */
    min-width: 320px;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  

  /* Paragraph */
  .MuiGrid-direction-xs-column > .MuiGrid-item > p{
    position:relative;
    top:-30px;
   }
   .css-taqjlb .MuiBox-root input[type=text]{
    transform:translatex(0px) translatey(0px);
    padding-top:13px;
   }
   
   .css-taqjlb .MuiBox-root .MuiInputAdornment-standard{
    padding-top:7px;
   }
  
  
   /* Mui grid item */
   div .MuiBox-root > .MuiGrid-container > .MuiGrid-item{
    top:-17px;
   }
   
   div .MuiBox-root .MuiGrid-container .MuiGrid-item > .MuiGrid-direction-xs-column{
    position:relative;
    top:26px;
   }
  
   .result {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
    table-layout: fixed;
    border-spacing: 1rem;
    text-align: right;
  }
  
   /* Mui box root */
   .react-container .MuiBox-root{
    transform:translatex(0px) translatey(0px);
   }
  
   
   html {
    background-color: #fff; /* Fallback */
  }
  
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #fff; /* Matches your design */
  }
  
  /* Default styles for larger screens */
  .app-bar {
    width: 100%;
  }
  
  .component {
    width: 100%;
    max-width: 400px; /* Adjust based on your needs */
  }
  
  /* Mobile-specific centering */
  @media (max-width: 768px) {
    body {
      display: flex;
      place-items: center;
    }
    .app-bar,
    .component {
      width: 100%;
      max-width: 100%; /* Ensures no overflow */
    }
  }
  
  /* Division */
  body > div:nth-child(1){
    background-color:#ffffff;
   }
   
